<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <div>
        Welcome to profile page
    <h1>my name is <%=user.name%></h1>
    <h6>my email is <%=user.email%></h6>
<h5>my skills is <%=user.skills%></h5>    </div>

</body>

</html>  -->